body {
  background-color: rgb(20, 20, 20);
  color: white;
}

.react-multi-carousel-list {
  overflow: visible !important;
}

.react-multiple-carousel__arrow {
  z-index: 0 !important;
}

#root {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
